name: Clang Format

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - 'include/**'
      - 'src/**'
      - 'tests/**'
      - 'examples/**'
      - '.clang-format'
  pull_request:
    branches: [ main ]

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        path:
          - 'include'
          - 'src'
          - 'tests'
          - 'examples'
    steps:
      - uses: actions/checkout@v5

      - name: Run clang-format style check
        uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: '20'
          check-path: ${{ matrix.path }}
